<template>
  <div class="container">
    <br/>
    <div class="row">
      <div class="col-9">
        <h1>Employee</h1>
      </div>
      <div class="col">
        <button class="btn btn-primary" @click="showModal = true">Add Employee</button>
        <modal v-if="showModal" @close="showModal = false">
          <h4 slot="header">New Employee</h4>
          <div slot="body">
           <NewEmpForm @close="showModal = false"/>
          </div>
        </modal>
      </div>
    </div>
    <br/>
    <Table :items="items" :headers="headers" />
    
  </div>
</template>

<script>
import Table from '../components/Table';
import { mapGetters} from 'vuex';
import modal from '../components/modal';
import NewEmpForm from '../components/NewEmployeeForm';

export default {
  name: 'Home',
  components:{
    Table,modal,NewEmpForm
  },
  data(){
    return{
      showModal: false,
      headers:[
        '#','Name','Email','Phone Number','Is Active','Actions'
      ]
    }
  },
  computed:{
    ...mapGetters({items:'getItems'})
  },
  mounted(){
    console.log(this.$store.state.items);
  }
}
</script>