<template>
<div>
  <!-- <form>  -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" v-model="employee.name" name="name" />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        v-model="employee.email"
        aria-describedby="emailHelp"
      />
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="phonenumber">Phone Number</label>
      <input
        type="text"
        class="form-control"
        name="phonenumber"
        id="phonenumber"
        v-model="employee.phonenumber"
      />
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" v-model="employee.isActive" id="isActive" />
      <label class="form-check-label" for="isActive" >Is Active</label>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary" @click="submitEmployee">Submit</button>
            <button type="button" class="btn btn-danger ml-2" @click="closeModal">Cancel</button>
        </div>
    </div>
  <!-- </form> -->
  </div>
</template>
<script>
export default {
    name:'editemployeeform',
    props:['employeeInfo'],
    data(){
        return{
            employee:{
                id:this.employeeInfo.id,
                name:this.employeeInfo.name,
                email:this.employeeInfo.email,
                phonenumber:this.employeeInfo.phonenumber,
                isActive:this.employeeInfo.isActive,
            },
        }
    },
    methods:{
        closeModal(){
            this.$emit("close");
        },
        submitEmployee(){
            this.$store.dispatch('UpdateEmployee',this.employee);
            this.$emit("close");
        },
        
    }
}
</script>