<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <h5 class="modal-title">
              <slot name="header">
                default header
              </slot>
            </h5>
            <!-- <button type="button" class="close"> -->
              <span aria-hidden="true" @click="closeModal" class="close">&times;</span>
            <!-- </button> -->
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <!-- <div class="modal-footer">
            <slot name="footer">
              <button class="btn btn-primary" @click="closeModal">
                OK
              </button>
            </slot>
          </div> -->
        </div>
      </div>
    </div>
  </transition>
</template>
<script>

export default {
  data() {
    return {};
  },
  methods: {
    closeModal() {
      this.$emit("close");
    },
  },
};
</script>
<style>
@import './modal.css'
</style>
