<template>
    <div>
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col" v-for="(element,index) in header" :key="index">{{ element }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(data,index) in data" :key="index">
                    <th scope="row">{{index+1}}</th>
                    <td>{{data.name}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.phonenumber}}</td>
                    <td>
                        <span v-if="data.isActive" class="badge badge-pill badge-success">{{data.isActive}}</span>
                        <span v-if="!data.isActive" class="badge badge-pill badge-danger">{{data.isActive}}</span>
                    </td>
                    <td>
                        <ion-icon name="create-outline" class="icon-size" @click="showModalAction(data)"></ion-icon>
                        <ion-icon name="trash-outline" class="icon-size pl-3" @click="deleteEmployee(data.id)"></ion-icon>
                        <vue-confirm-dialog></vue-confirm-dialog>
                    </td>
                </tr>
            </tbody>
        </table>
        <modal v-if="showModal" @close="showModal = false">
          <h4 slot="header">Edit {{ editEmployee.name }}</h4>
          <div slot="body">
            <EditEmployeeForm @close="showModal = false" :employeeInfo="editEmployee"/>
          </div>
        </modal>
    </div>
</template>
<script>

import modal from './modal';
import EditEmployeeForm from './EditEmployeeForm';

export default {
    name:'Table',
    components:{
        modal,EditEmployeeForm
    },
    props:{
        items:{
            type:Array,
            required:true
        },
        headers:{
            type:Array,
            required:true
        }
    },
    data(){
        return{
            data:this.items,
            header:this.headers,
            showModal:false,
            editEmployee:{}
        }
    },
    methods:{
        showModalAction(data){
            this.showModal = true;
            this.editEmployee = data;
        },
        deleteEmployee(){
            this.$confirm(
                {
                    message: `Are you sure to delete?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm 
                     */
                    callback: confirm => {
                        if (confirm) {
                        // ... do something
                        }
                    }
                }
            )
        }
    }
}
</script>
<style scoped>
.icon-size{
    font-size: 20px;
}
</style>